aiohappyeyeballs==2.6.1
aiohttp==3.12.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
appopener==1.7
attrs==25.3.0
audioop-lts==0.2.1
beautifulsoup4==4.13.3
blinker==1.9.0
bottle==0.13.3
bottle-websocket==0.2.9
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cohere==5.15.0
colorama==0.4.6
comtypes==1.4.10
DateTime==5.5
decorator==5.2.1
distro==1.9.0
docopt==0.6.2
edge-tts==7.0.2
Eel==0.18.1
Faker==37.3.0
fastavro==1.11.1
filelock==3.17.0
Flask==3.1.0
frozenlist==1.6.2
fsspec==2025.2.0
future==1.0.0
gevent==25.5.1
gevent-websocket==0.10.1
googlesearch-python==1.3.0
greenlet==3.2.3
groq==0.26.0
gTTS==2.5.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.0
hugchat==0.4.19
huggingface-hub==0.29.2
humanfriendly==10.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.5
Js2Py==0.74
keyboard==0.13.5
MailTm==0.0.81
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
MouseInfo==0.1.3
moviepy==2.1.2
mpmath==1.3.0
mtranslate==1.8
multidict==6.4.4
nara==0.5
networkx==3.4.2
numpy==2.2.3
opencv-python==4.11.0.86
packaging==24.2
pillow==10.4.0
pipe==2.2
pipwin==0.5.2
playsound==1.2.2
proglog==0.1.12
propcache==0.3.1
psutil==7.0.0
pvporcupine==3.0.5
pyaes==1.6.1
pyasn1==0.6.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==3.2.3
pyperclip==1.9.0
pypiwin32==223
PyPrind==2.11.3
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
pyserial==3.5
pySmartDL==1.3.4
python-dotenv==1.1.0
python-json-logger==3.3.0
python-pipes==0.0.4
pyttsx3==2.98
pytweening==1.2.0
pytz==2025.2
pywhatkit==5.4
pywin32==310
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
rsa==4.9.1
safetensors==0.5.3
setuptools==75.8.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.14.1
srt==3.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
sympy==1.13.1
tabulate==0.9.0
Telethon==1.40.0
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
types-requests==2.32.0.20250602
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
urllib3==2.3.0
Werkzeug==3.1.3
wheel==0.45.1
wikipedia==1.4.0
yarl==1.20.0
zope.event==5.0
zope.interface==7.2
